# Archivos y carpetas generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Pp]ackages/manifest.json.meta

# Archivos de caché de Unity
*.stackdump

# Visual Studio
.vscode/
.vs/
*.csproj
*.pidb
*.sln
*.user
*.userprefs
*.unityproj
*.booproj
*.svd

# Archivos de configuración del editor de Unity
*.swp
*.tmp
*.user
*.rsuser
*.suo
*.yaml
*.md
*.m
*.pdb
*.pidb
*.booproj
*.sln
*.userprefs

# Archivos de control de versiones de Unity
*.meta
*.unitypackage

# Archivos de compilación de Android
.gradle/
[Dd]ebug.keystore

# Archivos de compilación de iOS
build/
DerivedDataCache/

# Otros
[Tt]humbs.db
[Dd]esktop.ini
